<h5>Home View</h5>
<h1>{{ $ctrl.name }}</h1>
<a ui-sref="about">About</a>
<div>
  <h5>Ajax Call Example</h5>
  <button ng-click="$ctrl.getJSONData()">Mak AJAX Call</button>
  <br />
  <br />
  <table ng-if="$ctrl.users.length" border="1">
    <thead>
      <tr>
        <th>#</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Email</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="user in $ctrl.users">
        <td>{{ user.id }}</td>
        <td>{{ user.first_name }}</td>
        <td>{{ user.last_name }}</td>
        <td>{{ user.email }}</td>
      </tr>
    </tbody>
  </table>
</div>
